<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @category.date %>
</p>

<h2>Expenses</h2>
<div id="expenses">
	<%= render :partial => @category.expense.reverse %>
</div>

<%= form_for([@categories, Expense.new], remote: true) do |f| %>
	<p><%= f.label :amount, "New Expense" %><br />
		<%= f.number_field :amount %>
	</p>
	<p><%= f.submit "Add Expense" %></p>
<% end %>

<h2>Incomes</h2>
<div id="incomes">
	<%= render :partial => @category.income.reverse %>
</div>

<%= form_for([@categories, Income.new], remote: true) do |f| %>
	<p><%= f.label :amount, "New Income" %><br />
		<%= f.number_field :amount %>
	</p>
	<p><%= f.submit "Add Income" %></p>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
