var new_expense = $("<%= escape_javascript(render(:partial => @expense))%>").hide();
$('#expenses').prepend(new_expense);
$('#expense_<%= @expense.id %>').fadeIn('slow');
$('#new_expense')[0].reset();